<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.vikings.fivegold"
    version   = "1.0.0">

<name>轮通</name>

<description>
轮通
</description>

<author href="http://ileading.cn" email="chinakings@gmail.com">
Vikings
</author>

</widget>
